

body {
  background-color:seashell
  font-family: "Lato", sans-serif;
  color: #000;
  text-align: center;
}

h1 {
  color: #000;
  margin-top: 100px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  width: 50px;
  border-top: 2px solid #000;
  margin: 20px auto 25px auto;
}

